################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Day1Challenge1/ChallengeOne/ChallengeOne/bin/Debug/netcoreapp3.0
/Day1Challenge1/ChallengeOne/ChallengeOne/obj
/Day1Challenge2/ChallengeOne/obj
/Day1Challenge2/ChallengeOne/bin
